*{
	border: 1px solid black;
} 

.section {
   float: left;
   width: 100%; /*그리드100이랑 똑같다*/
} 

.icon .photo{
	float : center;
   padding :0px;
   width: 200px;
   height : 70px;
   overflow : hidden;
   margin-right: 10px;
   background-position: no-repeat;
   background-size: cover;
   background-image: url("로고.jpg");
}

#contents-area p{
   margin: 15px 10px;
}

.images {
   position:  relative;
   overflow:  hidden;
   background-position:  50%;
   background-repeat: no-repeat;
   background-size: cover; 
}
.images:before {
   content:  "";
   display:  block;
   width:  100%;
   padding-bottom: 75%;
}

.autor{
   float : left;
   width :100%;
   padding : 10px;
   box-sizing : border-box; 
   /*이게 없으면 100%를 넘어서 스크롤바가 생김*/
}
.autor .photo{

   float : center;
   padding :0px;
   width:70px;
   height : 70px;
   overflow : hidden;
   margin-right: 10px;
   background-position: no-repeat;
   background-size: cover;
   background-image: url("프로필사진.jpg");
   border:1px solid #ddd;
   border-radius: 30px;
}
.autor .name{

   margin-left: 5px;
   line-height: 28px;
   font-weight: bold;
   font-size: 32px;
}
.autor .date{
   line-height:16px ;
   font-size : 0.8em;
   color: #999;
}


